src/main/mule/github-actions-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="github-actions-demoFlow" doc:id="b7510940-c36d-4a1e-b04a-baf43f4b5eae" >
		<http:listener doc:name="Listener" doc:id="8803298a-2a23-44b1-b7d9-28d840984890" config-ref="Local_Domain_HTTP_Listener_config" path="/github"/>
		<set-payload value='#["This is to test the gitHub actions"]' doc:name="Set Payload" doc:id="2e4161d7-773b-4823-809a-06c530024038" />
	</flow>
</mule>
